.footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 60px 0 20px 0;
  text-align: center;

  &__logo {
    margin-bottom: 15px;

    img {
      height: 40px;
    }
  }

  &__text {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
    gap: 8px;
  }

  @media (max-width: 768px) {
    padding: 60px 0px;
   
    &__logo {
      margin-bottom: 0px;}

    &__text {
      font-size: 15px;
      flex-direction: column;
      gap: 4px;
      margin-top: 14px;
    }
  }
}

