$primary-color: #ff6060;
$secondary-color: #000000;
$third-color: #ffffff;
$main-font: "Montserrat", sans-serif;

@mixin page-layout {
  display: flex;
  flex-direction: column;
  padding: 45px 100px;

  @media (max-width: 1024px) {
    padding: 45px 50px;
  }
  @media (max-width: 768px) {
    padding: 35px 20px 25px 20px;
  }
}
@mixin collapse {
  .collapse {
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    background-color: $third-color;

    &__header {
      border-radius: 10px;
      position: relative;
      z-index: 2;
      background-color: $primary-color;
      color: $third-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      position: relative;
      z-index: 2;
      -webkit-tap-highlight-color: transparent;

      h3 {
        margin: 0;
      }

      img {
        width: 24px;
        height: 13.71px;
        transition: transform 0.3s ease;
      }
    }

    &__icon.open {
      transform: rotate(-180deg);
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      padding: 0 20px;
      background-color: #fafafa;
      font-size: 18px;
      line-height: 1.4;
      transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
      border-radius: 0 0 10px 10px;
      position: relative;
      top: -5px;
      z-index: 1;

      p {
        margin: 5px 0;
      }

      &.open {
        max-height: 500px;
        opacity: 1;
        padding: 15px 20px;
      }
    }
  }
}
