
$primary-color: #FF6060;
$secondary-color: #000000;
$third-color: #FFFFFF; 
$main-font: 'Montserrat', sans-serif;

@mixin page-layout {
    padding: 45px 100px;
  
    @media (max-width: 768px) {
      padding: 20px;
     
    }
  }

