@import '../../variables_et_mixins/variables_et_mixins.scss';
.card {
  color:$secondary-color;
  border-radius: 10px;
  overflow: hidden;
  width: calc(33.33% - 30px);
  height: 340px;
  position: relative;
  cursor: pointer;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    color:$third-color;
    width: 40%;
  }
  @media (max-width: 1024px) {
    width: calc(50% - 20px);
  }
  @media (max-width: 768px) {
    height: 255px;
    width: 100%;
  }
}
