@import "../../variables_et_mixins/variables_et_mixins.scss";

.notfound {
  text-align: center;
  color: $primary-color;
  margin-bottom: 120px;

  &__image {
    width: 597px;
    height: 263px;
    margin: 120px auto;
    display: block;
  }

  &__text {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 140px;
  }

  &__link {
    color: $secondary-color;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid $secondary-color;
    text-decoration: none;

    line-height: 1;
    padding-bottom: 0;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    &__image {
      width: 198px;
      height: 99px;
    }

    &__text {
      font-size: 18px;
    }

    &__link {
      font-size: 14px;
    }
  }
}
