@import '../../variables_et_mixins/variables_et_mixins.scss';
.accommodation__collapses {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 15px;
  @include collapse
}
@keyframes open {
  from {
    opacity: 0;
    transform: scaleY(0.95);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}



@media (max-width: 768px) {
.accommodation__collapses {
  flex-direction: column;
  gap:0;

  .collapse {
    width: 100%;
    .collapse__header{
      font-size: 14px;
      .collapse__icon{
        width: 16px;
        height: 9.14px;
      }
    }
  .collapse__content{
    font-size: 12px;
  }
  }
}
}