@import '../../variables_et_mixins/variables_et_mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  &__logo {
    height: 68px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  &__nav {
    display: flex;
    gap: 57px;

    a {
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
      color: $secondary-color;

      &.active {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
    &__logo--mobile {
      display: block;
      height: 46px;
    }

    &__logo--desktop {
      display: none;
    }

    &__nav {
      gap: 20px;

      a {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}
