@import '../../variables_et_mixins/variables_et_mixins.scss';

.accommodation-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $primary-color;

  // Partie gauche
  &__left {
    max-width: 70%;
    margin-top:40px;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: $secondary-color;
    gap: 10px;
    margin-top: 5px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    width: 80%;
  }
 
  //  Partie droite (rating + host)
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin-top: 20px;
  }

  &__host {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: right;

    p {
      font-size: 18px;
      width: 50%;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }


  
  @media (max-width: 768px) {
    flex-direction: column;
    &__left {
      width: 100%;
      margin-top: 10px;}
      &__title {
        font-size: 18px;
        margin-bottom: 15px;
      }
      &__location {
        font-size: 14px;
      }
    
    &__right {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 0;
    }

    &__host  {
      flex-direction: row;
      justify-content: flex-end;
      order: 2;
    
        p {
          font-size: 12px;
        }
        img {
          width: 40px;
          height: 40px;
        }
    }
    
  }

}